# Introducción a Python - Ejercicios

### 1. Declarar dos variables numéricas y realizar la división entre ambas ¿De qué tipo es la variable respuesta? ¿Qué podemos hacer para que sea un entero?

In [1]:
a = 5
b = 10
result = a + b
print(result)

15

### 2.  De dos números, comprobar cuál es el mayor.

In [5]:
a = int(input('ingrese numero 1: '))
b = int(input('ingrese numero 2: '))

if a>b:
    print(str(a) + ' es mayor que ' +str(b))
elif a<b:
    print(str(b) + ' es mayor que ' +str(a))
else:
    print(str(a) + ' es igual que ' +str(b))

56 es igual que 56

### 3. Escribir un programa que solicite al usuario su nombre y edad (separados por coma), e imprima por pantalla:

Su nombre es: Juan  

Su edad es: 35

In [15]:

user = input('ingrese su nombre y su edad separados por coma:')
name , age = user.split(',')
print('Su nombre es: '+name+'\n'
       'su edad es: '+ age)

Su nombre es: pedro
su edad es:  20

### 4. Construir dos listas y extender la primera, para que también tenga los elementos de la segunda. Hacer lo mismo con una tupla.

In [16]:
list1 = [1,2,3,4,]
list2 = [5,6,7,8,9]

totalList = list1+list2
totalList

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### 5. Crear dos cadenas de caracteres y concaterlas.

In [17]:
string1 = 'Hola que tal?, '
string2 = 'como estas?'
totalString = string1+string2
totalString

'Hola que tal?, como estas?'

### 6. Crear una tupla e imprimir por pantalla su tercer elemento.

In [18]:
tupla = (1,2,3,4,5,6)
tupla[2]

3

### 7. Crear una cadena de caracteres y convertirla a una lista.

In [3]:
cadena1 = "hola como estas?"
lista1 = list(cadena1)
print(lista1)

['h', 'o', 'l', 'a', ' ', 'c', 'o', 'm', 'o', ' ', 'e', 's', 't', 'a', 's', '?']

### 8. Comprobar si tu nombre contiene la letra _o_.

In [11]:
name = 'Felipo'

contiene = 'o' in name
contiene

True

### 9. Escribir tu nombre y apellidos y convertilo todo a mayúscula.

In [14]:
nombre = 'Felipe'
apellido = 'Veliz'

nombre = nombre.upper()
apellido = apellido.upper()

print('mi nombre es: ' + nombre, apellido)

mi nombre es: FELIPE VELIZ

### 10. Escribir un programa que solicite al usuario una lista de números separados por coma, construya una lista y una tupla a partir de la lista recibida y las muestre por pantalla

In [18]:
numeros = input('ingrese numeros separados por coma: ').split(',')
tupla = tuple(numeros)
print(numeros)
print(tupla)

['1', '2', '3', '4', '5', '6', '7']
('1', '2', '3', '4', '5', '6', '7')

### 11. Escribir un programa que solicite al usuario un listado de nombres separados por punto y coma, construya una lista e imprima por pantalla los elementos pares de la lista

In [21]:
numeros = input('ingrese nombres separados por punto y coma: ').split(';')
print(numeros)
numeros[1::2]

['pedro', ' juan', ' diego', ' manuel', ' emilia', ' jorge', '  natalia', ' pancho', ' pablo', ' jose', ' vale', ' felipe']

[' juan', ' manuel', ' jorge', ' pancho', ' jose', ' felipe']

### 12. Escribir un programa que solicite al usuario dos cadenas de texto y detecte si la segunda está contenida en la primera.

In [23]:
string1 = input('ingrese cadena 1: ')
string2 = input('ingrese cadena 2: ')
contiene= string2 in string1
contiene

True

### 13. Escribir un programa que solicite al usuario una lista de nombres separados por coma, una posición y devuelva la lista de nombres sustituyendo el que aparece en la posición indicada por "Miguel"

In [25]:
names = input('ingrese nombres separados por coma: ').split(',')
i = int(input('ingrese indice: '))

names[i]='Miguel'
names

['pedro', ' juan', 'Miguel', ' francis', ' pancho', ' prieta']

### 14. Crear una lista de 10 números y devolver del cuarto al octavo elemento.

In [27]:
lista = [1,2,3,4,5,6,7,8,9,0]
lista[3:8]

[4, 5, 6, 7, 8]

### 15. Crear un diccionario a partir de dos listas (los elementos de una de ellas deben ser las claves del diccionario y los elementos de la otra, los valores del diccionario).

In [5]:
paises = ['argentina', 'chile', 'uruguay', 'peru', 'brasil']
poblacion = [30000000, 20000000, 10000000, 50000000, 80000000]
dict_1 = dict(zip(paises, poblacion))
dict_1

{'argentina': 30000000,
 'chile': 20000000,
 'uruguay': 10000000,
 'peru': 50000000,
 'brasil': 80000000}

### 16. Insertar en el diccionario anterior un nuevo valor, cuya clave sea "nueva_clave".

In [6]:
dict_1['nueva_clave'] =  55
dict_1

{'argentina': 30000000,
 'chile': 20000000,
 'uruguay': 10000000,
 'peru': 50000000,
 'brasil': 80000000,
 'nueva_clave': 25}

### 17. Modificar el valor añadido al diccionario, accediendo por la clave "nueva_clave".

### 18.  Eliminar todos los elementos del diccionario creado.

### 19. Crear dos listas y calcular su unión.

### 20. Crear dos conjuntos y calcular su unión, intersección y diferencia simétrica.